:root {
    --primary-color: #9abd63;
    --secondary-color: #ff9898;
    --white: #FFFFFF;
    --gray1: #EBEBEB;
    --gray2: #c4c4c4;
    --gray3: #616161;
    --gray4: #363636;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
}

.container > div {
/*     border: 1px solid black;
    background-color: pink; */
}

/* HEADER */

.header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1.5fr;
    padding: 20px 60px;
    gap: 30px 20px;
    background-color: var(--white);
    box-shadow: 0px 5px 10px var(--gray2);
    position: relative;
    z-index: 10;
}

.header .icon {
    width: 2.5rem;
}

.search-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-bar {
    flex: 1;
    height: 2.5rem;
    border: none;
    background-color: var(--gray1);
    border-radius: 25px;
}

.user-container {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 15px;
}

.user-container h3 {
    font-size: 20px;
}

.user-photo {
    width: 3.5rem;
    border-radius: 50%;
    margin-left: 20px;
}

.greeting-container {
    display: flex;
    gap: 15px;
    align-items: center;
}

.greeting-photo {
    width: 5rem;
    border-radius: 50%;
}

.user-container h3,
.greeting-container p,
.greeting-container h2 {
    margin: 0;
    color: var(--gray4);
}

.greeting-container p {
    padding-bottom: 5px;
    font-weight: bold;
}

.greeting-container h2 {
    font-size: 27px;
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 30px;
}

.btn-container button {
    height: 3rem;
    width: 8rem;
    border: none;
    background-color: var(--primary-color);
    border-radius: 25px;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

/* SIDEBAR */

.sidebar {
    grid-row: 1 / 3;
    display: grid;
    row-gap: 20px;
    padding: 10px 15px;
    grid-template-rows: auto auto 1fr;
    background: var(--primary-color);
}

.sidebar .main-links {
    padding-bottom: 10px;
}

.logo h1 {
    margin: 0;
    color: white;
}

.logo,
.sidebar li {
    display: flex;
    align-items: center;
}

.sidebar ul {
    margin: 0;
    padding: 0;
    padding-left: 15px;
    color: white;
}

.logo {
    gap: 5px;
}

.logo-icon {
    width: 4.5rem;
}

.sidebar li {
    gap: 10px;
}

.sidebar p {
    font-size: 18px;
}

li img {
    width: 2.5rem;
}

.logo-icon,
li img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(158deg) brightness(103%) contrast(103%);
}

/* MAIN CONTENT */

.main-content {
    display: grid;
    grid-template-columns: auto 325px;
    grid-template-rows: auto 1fr;
    padding: 40px;
    gap: 40px;
    background-color: var(--gray1);
}

.main-content > div {
/*     border: 1px solid black; */
}

.main-content h2 {
    margin: 0;
    padding-bottom: 15px;
    color: var(--gray4);
}

.card,
.announcement-card,
.trending-card {
    background: var(--white);
    border-radius: 10px;
    box-shadow: 3px 3px 5px var(--gray2);
}

.text-container h3,
.announcement h4,
.other-user p:nth-child(1) {
    color: var(--gray4);
}

.text-container p,
.announcement p,
.other-user p:nth-child(2) {
    color: var(--gray3);
}


/* PROJECTS */

.project-container {
    grid-row: 1 / 3;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 1fr;
    gap: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 35px;
    border-left: solid 10px var(--secondary-color);
}

.icon-container {
    text-align: right;
}

.icon-container > img {
    width: 2.5rem;
}

.text-container h3,
.text-container p {
    margin: 0;
    padding-bottom: 10px;
}

.text-container {
    padding-bottom: 30px;
}

.text-container h3 {
    font-size: 20px;
}

.text-container p {
    font-size: 18px;
}

/* ANNOUNCEMENTS */

.announcement-container {

}

.announcement-card {
    padding: 15px 35px;
}

.announcement:nth-child(1),
.announcement:nth-child(2) {
    border-bottom: solid 1px var(--gray2);
}

.announcement {
    padding: 20px 0;
}

.announcement h4,
.announcement p {
    margin: 0;
}

.announcement h4 {
    padding-bottom: 5px;
}

.announcement p {
    font-size: 15px;
}

/* TRENDING */

.trending-container {

}

.trending-card {
    padding: 20px 30px;
}

.other-user {
    display: flex;
    gap: 15px;
    padding: 10px 0;
    align-items: center;
}

.other-user > img {
    width: 4rem;
    border-radius: 50%;
}

.other-user p {
    margin: 0;
}

.other-user p:nth-child(1) {
    padding-bottom: 5px;
    font-weight: 600;
/*     color: black; */
}