body {
    margin: 0;
    min-height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
}

.container > div {
/*     border: 1px solid black;
    background-color: pink; */
}

/* HEADER */

.header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1.5fr;
    padding: 10px 75px 15px 40px;
    gap: 10px 20px;
}

.header .icon {
    width: 2.5rem;
}

.search-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-bar {
    flex: 1;
    height: 1.75rem;
}

.user-container {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 15px;
}

.user-container h3 {
    margin: 0;
}

.user-photo {
    width: 3.5rem;
    border-radius: 50%;
}

.greeting-container {
    display: flex;
    gap: 15px;
    align-items: center;
}

.greeting-photo {
    width: 5rem;
    border-radius: 50%;
}

.greeting-container p,
.greeting-container h2 {
    margin: 0;
}

.greeting-container p {
    padding-bottom: 5px;
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}

.btn-container button {
    height: 2rem;
    width: 6rem;
}

/* SIDEBAR */

.sidebar {
    grid-row: 1 / 3;
    display: grid;
    row-gap: 20px;
    padding: 10px 15px;
    grid-template-rows: auto auto 1fr;
    background: #AACB73;
}

.sidebar .main-links {
    padding-bottom: 10px;
}

.logo h1 {
    margin: 0;
}

.logo,
.sidebar li {
    display: flex;
    align-items: center;
}

.sidebar ul {
    margin: 0;
    padding: 0;
    padding-left: 15px;
}

.logo {
    gap: 5px;
}

.logo-icon {
    width: 4.5rem;
}

.sidebar li {
    gap: 10px;
}

.sidebar p {
    font-size: 18px;
}

li img {
    width: 2.5rem;
}

.logo-icon,
li img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(158deg) brightness(103%) contrast(103%);
}

/* MAIN CONTENT */

.main-content {
    display: grid;
    grid-template-columns: auto 325px;
    grid-template-rows: auto 1fr;
    padding: 20px;
    gap: 30px;
}

.main-content > div {
/*     border: 1px solid black; */
}

.main-content h2 {
    margin: 0;
    padding-bottom: 10px;
}

/* PROJECTS */

.project-container {
    grid-row: 1 / 3;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 1fr;
    gap: 15px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid black;
}

.icon-container {
    text-align: right;
}

.icon-container > img {
    width: 2.5rem;
}

.text-container h3,
.text-container p {
    margin: 0;
    padding-bottom: 10px;
}

.text-container {
    padding-bottom: 5rem;
}

/* ANNOUNCEMENTS */

.announcement-container {

}

.announcement-card {
    border: 1px solid black;
    padding: 10px 30px;
}

.announcement:nth-child(1),
.announcement:nth-child(2) {
    border-bottom: solid black 1px;
}

.announcement {
    padding: 20px 0;
}

.announcement h4,
.announcement p {
    margin: 0;
}

.announcement h4 {
    padding-bottom: 5px;
}

/* TRENDING */

.trending-container {

}

.trending-card {
    border: 1px solid black;
    padding: 20px 30px;
}

.other-user {
    display: flex;
    gap: 15px;
    padding: 10px 0;
    align-items: center;
}

.other-user > img {
    width: 4rem;
    border-radius: 50%;
}

.other-user p {
    margin: 0;
}

.other-user p:nth-child(1) {
    padding-bottom: 5px;
    font-weight: 600;
}